params {
    reads      = "Sequences/*_{1,2}.fastq.gz"
    reference  = "Reference/chr11.fa"
    snpeff_db  = "GRCm39.115"
    outdir     = "results"
    threads    = 4
    qual       = 30
    depth      = 10
}

process {
    executor = 'local'
    cpus     = 2
    memory   = '2 GB'
    stageInMode = 'copy'

    withName: ALIGN {
        cpus     = 4
        memory   = '8 GB'
        maxForks = 1
    }
    withName: CALL_VARIANTS {
        memory   = '6 GB'
        maxForks = 1
    }
    withName: ANNOTATE {
        memory   = '6 GB'
    }
}

conda {
    enabled = true
}
process.conda = '/home/parabmanali/miniconda3/envs/variant-calling'

workDir = '/mnt/e/variant-calling'

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_timeline.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_trace.txt"
}
